<footer class="footer">
    <small>
        <a href="http://railsin20.org">Rails in 20 minutes </a> by Alfonso Rush
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '#' %></il>
            <li><%= link_to "Contact", '#'%></il>
        </ul>
    </nav>        
</footer>        